<!-- FIX VOL FLAW NOT WORKING -->

<div>
    <table class="ABStable">
        <tr>
            <th></th>
            <th>{{localize "PF2E-ABS.Ancestry"}}</th>
            <th>{{localize "PF2E-ABS.Background"}}</th>
            <th>{{localize "PF2E-ABS.Class"}}</th>
            <th>{{localize "PF2E-ABS.Free"}}</th>
            <th class="ABScenter ABS1" style="display: none">{{localize "Level 5"}}</th>
            <th class="ABScenter ABS2" style="display: none">{{localize "Level 10"}}</th>
            <th class="ABScenter ABS3" style="display: none">{{localize "Level 15"}}</th>
            <th class="ABScenter ABS4" style="display: none">{{localize "Level 20"}}</th>
            <th>{{localize "PF2E-ABS.Total"}}</th>
        </tr>
        <tr>
            <td>Strength</td>
            <td class="ABScenter"><input type="checkbox" id="ABSastr" /></td>
            <td class="ABScenter"><input type="checkbox" id="ABSbstr" /></td>
            <td class="ABScenter"><input type="checkbox" id="ABScstr" /></td>
            <td class="ABScenter"><input type="checkbox" id="ABSdstr" /></td>
            <td class="ABScenter ABS1" style="display: none"><input type="checkbox" id="ABS1str" /></td>
            <td class="ABScenter ABS2" style="display: none"><input type="checkbox" id="ABS2str" /></td>
            <td class="ABScenter ABS3" style="display: none"><input type="checkbox" id="ABS3str" /></td>
            <td class="ABScenter ABS4" style="display: none"><input type="checkbox" id="ABS4str" /></td>
            <td class="ABScenter" id="ABStstr"></td>
        </tr>
        <tr>
            <td>Dexterity</td>
            <td class="ABScenter"><input type="checkbox" id="ABSadex" /></td>
            <td class="ABScenter"><input type="checkbox" id="ABSbdex" /></td>
            <td class="ABScenter"><input type="checkbox" id="ABScdex" /></td>
            <td class="ABScenter"><input type="checkbox" id="ABSddex" /></td>
            <td class="ABScenter ABS1" style="display: none"><input type="checkbox" id="ABS1dex" /></td>
            <td class="ABScenter ABS2" style="display: none"><input type="checkbox" id="ABS2dex" /></td>
            <td class="ABScenter ABS3" style="display: none"><input type="checkbox" id="ABS3dex" /></td>
            <td class="ABScenter ABS4" style="display: none"><input type="checkbox" id="ABS4dex" /></td>
            <td class="ABScenter" id="ABStdex"></td>
        </tr>
        <tr>
            <td>Constitution</td>
            <td class="ABScenter"><input type="checkbox" id="ABSacon" /></td>
            <td class="ABScenter"><input type="checkbox" id="ABSbcon" /></td>
            <td class="ABScenter"><input type="checkbox" id="ABSccon" /></td>
            <td class="ABScenter"><input type="checkbox" id="ABSdcon" /></td>
            <td class="ABScenter ABS1" style="display: none"><input type="checkbox" id="ABS1con" /></td>
            <td class="ABScenter ABS2" style="display: none"><input type="checkbox" id="ABS2con" /></td>
            <td class="ABScenter ABS3" style="display: none"><input type="checkbox" id="ABS3con" /></td>
            <td class="ABScenter ABS4" style="display: none"><input type="checkbox" id="ABS4con" /></td>
            <td class="ABScenter" id="ABStcon"></td>
        </tr>
        <tr>
            <td>Intelligence</td>
            <td class="ABScenter"><input type="checkbox" id="ABSaint" /></td>
            <td class="ABScenter"><input type="checkbox" id="ABSbint" /></td>
            <td class="ABScenter"><input type="checkbox" id="ABScint" /></td>
            <td class="ABScenter"><input type="checkbox" id="ABSdint" /></td>
            <td class="ABScenter ABS1" style="display: none"><input type="checkbox" id="ABS1int" /></td>
            <td class="ABScenter ABS2" style="display: none"><input type="checkbox" id="ABS2int" /></td>
            <td class="ABScenter ABS3" style="display: none"><input type="checkbox" id="ABS3int" /></td>
            <td class="ABScenter ABS4" style="display: none"><input type="checkbox" id="ABS4int" /></td>
            <td class="ABScenter" id="ABStint"></td>
        </tr>
        <tr>
            <td>Wisdom</td>
            <td class="ABScenter"><input type="checkbox" id="ABSawis" /></td>
            <td class="ABScenter"><input type="checkbox" id="ABSbwis" /></td>
            <td class="ABScenter"><input type="checkbox" id="ABScwis" /></td>
            <td class="ABScenter"><input type="checkbox" id="ABSdwis" /></td>
            <td class="ABScenter ABS1" style="display: none"><input type="checkbox" id="ABS1wis" /></td>
            <td class="ABScenter ABS2" style="display: none"><input type="checkbox" id="ABS2wis" /></td>
            <td class="ABScenter ABS3" style="display: none"><input type="checkbox" id="ABS3wis" /></td>
            <td class="ABScenter ABS4" style="display: none"><input type="checkbox" id="ABS4wis" /></td>
            <td class="ABScenter" id="ABStwis"></td>
        </tr>
        <tr>
            <td>Charisma</td>
            <td class="ABScenter"><input type="checkbox" id="ABSacha" /></td>
            <td class="ABScenter"><input type="checkbox" id="ABSbcha" /></td>
            <td class="ABScenter"><input type="checkbox" id="ABSccha" /></td>
            <td class="ABScenter"><input type="checkbox" id="ABSdcha" /></td>
            <td class="ABScenter ABS1" style="display: none"><input type="checkbox" id="ABS1cha" /></td>
            <td class="ABScenter ABS2" style="display: none"><input type="checkbox" id="ABS2cha" /></td>
            <td class="ABScenter ABS3" style="display: none"><input type="checkbox" id="ABS3cha" /></td>
            <td class="ABScenter ABS4" style="display: none"><input type="checkbox" id="ABS4cha" /></td>
            <td class="ABScenter" id="ABStcha"></td>
        </tr>
    </table>
    <table class="ABStable">
        <tr>
            <th>{{localize "PF2E-ABS.Voluntary Flaw"}}</th>
            <th class="ABSvol">{{localize "PF2E-ABS.Boost"}}</th>
            <th class="ABSvol">{{localize "PF2E-ABS.Flaw"}}</th>
            <th class="ABSvol">{{localize "PF2E-ABS.Flaw"}}</th>
        </tr>
        <tr>
            <td class="ABScenter"><input type="checkbox" id="ABSvoluntaryFlaw" /></td>
            <td class="ABScenter ABSvol">
                <select name="Boost" id="ABSvolBoost">
                    <option value=""></option>
                    <option value="str">{{localize "PF2E-ABS.Strength"}}</option>
                    <option value="dex">{{localize "PF2E-ABS.Dexterity"}}</option>
                    <option value="con">{{localize "PF2E-ABS.Constitution"}}</option>
                    <option value="int">{{localize "PF2E-ABS.Intelligence"}}</option>
                    <option value="wis">{{localize "PF2E-ABS.Wisdom"}}</option>
                    <option value="cha">{{localize "PF2E-ABS.Charisma"}}</option>
                </select>
            </td>
            <td class="ABScenter ABSvol">
                <select name="Flaw" id="ABSvolFlaw1">
                    <option value=""></option>
                    <option value="str">{{localize "PF2E-ABS.Strength"}}</option>
                    <option value="dex">{{localize "PF2E-ABS.Dexterity"}}</option>
                    <option value="con">{{localize "PF2E-ABS.Constitution"}}</option>
                    <option value="int">{{localize "PF2E-ABS.Intelligence"}}</option>
                    <option value="wis">{{localize "PF2E-ABS.Wisdom"}}</option>
                    <option value="cha">{{localize "PF2E-ABS.Charisma"}}</option>
                </select>
            </td>
            <td class="ABScenter ABSvol">
                <select name="Flaw" id="ABSvolFlaw2">
                    <option value=""></option>
                    <option value="str">{{localize "PF2E-ABS.Strength"}}</option>
                    <option value="dex">{{localize "PF2E-ABS.Dexterity"}}</option>
                    <option value="con">{{localize "PF2E-ABS.Constitution"}}</option>
                    <option value="int">{{localize "PF2E-ABS.Intelligence"}}</option>
                    <option value="wis">{{localize "PF2E-ABS.Wisdom"}}</option>
                    <option value="cha">{{localize "PF2E-ABS.Charisma"}}</option>
                </select>
            </td>
        </tr>
    </table>
    <input type="button" value="Apply" id="ABSapply" />
</div>

<style>
    .ABScenter {
        text-align: center;
    }
    .ABStable {
        table-layout: fixed;
    }
    .ABSvol {
        display: none;
    }
    #ABSapply {
        width: 100%;
        background: rgba(255, 255, 240);
        border: 1px solid #b5b3a4;
        font-size: 14px;
        line-height: 28px;
        font-family: "Signika", sans-serif;
        display: block;
        margin: 5px auto;
    }
</style>
<!-- 
	globalThis.ABS.data.data.abilities
	globalThis.ABS.data.data.details.keyability
	globalThis.ABS.ancestry.data.data
	globalThis.ABS.background.data.data
	globalThis.ABS.class.data.data
	globalThis.ABS.data.data.details.level
	globalThis.ABS.data.flags["pf2e-abs-manager"]?.abs
	globalThis.ABS.background.data.data.boosts[0].value[0]
 -->
<script type="module">
    let aBoosts, aFlaw, bBoost, cBoost, x, saveData;
    let bBoostNum = 2;
    let stats = ["str", "dex", "con", "int", "wis", "cha"];

    let SelectedActor = globalThis.ABS;

    let Ancestry = SelectedActor.ancestry.data.data;
    let Background = SelectedActor.background.data.data;
    let Class = SelectedActor.class.data.data;
    let Level = SelectedActor.data.data.details.level;
    let Flags = SelectedActor.data.flags["pf2e-abs-manager"]?.abs;

    //Add columns for ASI
    if (Level.value >= 5) {
        $(".ABS1").show();
        $(".ABS1").css("display", "revert");
    }
    if (Level.value >= 10) {
        $(".ABS2").show();
        $(".ABS2").css("display", "revert");
    }
    if (Level.value >= 15) {
        $(".ABS3").show();
        $(".ABS3").css("display", "revert");
    }
    if (Level.value >= 20) {
        $(".ABS4").show();
        $(".ABS4").css("display", "revert");
    }

    //Ancestry boosts
    aBoosts = [];
    for (let i in Ancestry.boosts) {
        if (Ancestry.boosts[i].value[0] && !Ancestry.boosts[i].value[1]) {
            aBoosts.push(Ancestry.boosts[i].value[0]);
            $("#ABSa" + Ancestry.boosts[i].value[0]).prop("disabled", true);
            $("#ABSa" + Ancestry.boosts[i].value[0]).prop("checked", true);
        }
    }

    //Ancestry flaw
    if (Ancestry.flaws[0].value[0]) {
        aFlaw = Ancestry.flaws[0].value[0];
    } else {
        aFlaw = "";
    }

    //Background boost
    if (Background.boosts[0].value[0] && !Background.boosts[0].value[2]) {
        bBoost = Background.boosts[0].value;
        //Magical experiment handling
        if (Background.boosts[0].value[0] && !Background.boosts[0].value[1]) {
            bBoostNum = 1;
            $("#ABSb" + bBoost[0]).prop("disabled", true);
            $("#AABSb" + bBoost[0]).prop("checked", true);
        }
    } else {
        bBoost = "";
    }

    //class boost
    cBoost = Class.keyAbility.value;
    x = 0;
    for (let i of stats) {
        if (!cBoost.includes(i)) {
            $("#ABSc" + i).prop("disabled", true);
        } else {
            $("#ABSc" + i).prop("checked", true);
            x += 1;
        }
    }
    if (x >= 2) {
        for (let i of stats) {
            $("#ABSc" + i).prop("checked", false);
        }
    } else {
        for (let i of stats) {
            $("#ABSc" + i).prop("disabled", true);
        }
    }

    // Load save if it exists
    if (typeof Flags != "undefined") {
        //boosts (checking for shown in case of level down)
        for (let i of stats) {
            for (let j of ["a", "b", "c", "d", "1", "2", "3", "4"]) {
                if (!$("#ABS" + j + i).is(":hidden")) {
                    $("#ABS" + j + i).prop("checked", Flags[i][["a", "b", "c", "d", "1", "2", "3", "4"].indexOf(j)]);
                }
            }
        }

        //voluntary flaws
        $("#ABSvoluntaryFlaw").prop("checked", Flags.volFlaw);
        if ($("#ABSvoluntaryFlaw").is(":checked")) {
            $(".ABSvol").show();
            $(".ABSvol").css("display", "revert");
        }
        for (let i of ["Boost", "Flaw1", "Flaw2"]) {
            $("#ABSvol" + i).val(Flags[i]);
        }
    }

    update();
    function update() {
        //check for filled Ancestry boosts
        x = 0;
        let aBoosted = [];
        for (let i of stats) {
            if ($("#ABSa" + i).is(":checked")) {
                x += 1;
                aBoosted.push(i);
            }
        }
        if (aFlaw) {
            x -= 1;
        }
        if (x === 2) {
            for (let i of stats.filter((x) => !aBoosts.includes(x))) {
                if (!$("#ABSa" + i).is(":checked")) {
                    $("#ABSa" + i).prop("disabled", true);
                }
            }
        } else {
            for (let i of stats.filter((x) => !aBoosts.includes(x))) {
                $("#ABSa" + i).prop("disabled", false);
            }
        }

        for (let i of ["Boost", "Flaw1", "Flaw2"]) {
            x = $("#ABSvol" + i).val();
            //reset voluntary flaws options
            $("#ABSvol" + i).html(`
                <option value=""></option>
                <option value="str">Strength</option>
                <option value="dex">Dexterity</option>
                <option value="con">Constitution</option>
                <option value="int">Intelligence</option>
                <option value="wis">Wisdom</option>
                <option value="cha">Charisma</option>
            `);
            $("#ABSvol" + i).val(x);
        }

        //voluntary flaws handling
        for (let i of stats) {
            x = 10;
            if ($("#ABSa" + i).is(":checked")) {
                x += 2;
            }
            if (aFlaw === i) {
                x -= 2;
            }
            if ($("#ABSvolBoost").val() === i) {
                x += 2;
            }
            if ($("#ABSvolFlaw1").val() === i) {
                x -= 2;
            }
            if ($("#ABSvolFlaw2").val() === i) {
                x -= 2;
            }

            //doesn't let you pick an already boosted stat
            if (x === 12) {
                if (!$("#ABSa" + i).is(":checked")) {
                    $("#ABSa" + i).prop("disabled", true);
                }
                if ($("#ABSvolBoost").val() !== i) {
                    $(`#ABSvolBoost option[value="${i}"]`).remove();
                }
            }

            //doesn't let you flaw an already flawed stat
            if (x === 8) {
                if ($("#ABSvolFlaw1").val() !== i) {
                    $(`#ABSvolFlaw1 option[value="${i}"]`).remove();
                }
                if ($("#ABSvolFlaw2").val() !== i) {
                    $(`#ABSvolFlaw2 option[value="${i}"]`).remove();
                }
            }
        }

        //check for filled Background boosts
        x = 0;
        for (let i of stats) {
            if ($("#ABSb" + i).is(":checked")) {
                x += 1;
            }
        }
        //amnesiac handling
        if (!bBoost) {
            if (x === 3) {
                for (let i of stats) {
                    if (!$("#ABSb" + i).is(":checked")) {
                        $("#ABSb" + i).prop("disabled", true);
                    }
                }
            } else {
                for (let i of stats) {
                    $("#ABSb" + i).prop("disabled", false);
                }
            }
            //other Backgrounds
        } else {
            if (x === bBoostNum) {
                for (let i of stats) {
                    if (!$("#ABSb" + i).is(":checked")) {
                        $("#ABSb" + i).prop("disabled", true);
                    }
                }
            } else {
                for (let i of stats) {
                    $("#ABSb" + i).prop("disabled", false);
                }

                //check for filled free Background boost
                x = 0;
                for (let i of stats.filter((x) => !bBoost.includes(x))) {
                    if ($("#ABSb" + i).is(":checked")) {
                        x = 1;
                    }
                }
                if (x >= 1) {
                    for (let i of stats.filter((x) => !bBoost.includes(x))) {
                        if (!$("#ABSb" + i).is(":checked")) {
                            $("#ABSb" + i).prop("disabled", true);
                        }
                    }
                } else {
                    for (let i of stats) {
                        $("#ABSb" + i).prop("disabled", false);
                    }
                }
            }
        }

        //check for filled class boost
        x = 0;
        for (let i of stats) {
            if ($("#ABSc" + i).is(":checked")) {
                x += 1;
            }
        }
        if (x === 1) {
            for (let i of cBoost) {
                if (!$("#ABSc" + i).is(":checked")) {
                    $("#ABSc" + i).prop("disabled", true);
                } else {
                    let keyAbility = i;
                }
            }
        } else {
            for (let i of cBoost) {
                $("#ABSc" + i).prop("disabled", false);
            }
        }

        //check for filled free boosts
        for (let i of ["d", "1", "2", "3", "4"]) {
            x = 0;
            for (let j of stats) {
                if ($("#ABS" + i + j).is(":checked")) {
                    x += 1;
                }
            }
            if (x === 4) {
                for (let j of stats) {
                    if (!$("#ABS" + i + j).is(":checked")) {
                        $("#ABS" + i + j).prop("disabled", true);
                    }
                }
            } else {
                for (let j of stats) {
                    $("#ABS" + i + j).prop("disabled", false);
                }
            }
        }
        //set totals
        for (let i of stats) {
            x = 10;
            if ($("#ABSvolBoost").val() === i) {
                x += 2;
            }
            if ($("#ABSvolFlaw1").val() === i) {
                x -= 2;
            }
            if ($("#ABSvolFlaw2").val() === i) {
                x -= 2;
            }
            if (aFlaw === i) {
                x -= 2;
            }
            for (let j of ["a", "b", "c", "d", "1", "2", "3", "4"]) {
                if ($("#ABS" + j + i).is(":checked")) {
                    if (x < 18) {
                        x += 2;
                    } else {
                        x += 1;
                    }
                }
            }
            $("#ABSt" + i).html(x);
        }
    }
    $(".ABScenter").on("click", () => {
        update();
    });

    $("#ABSvoluntaryFlaw").on("click", () => {
        if ($("#ABSvoluntaryFlaw").is(":checked")) {
            $(".ABSvol").show();
            $(".ABSvol").css("display", "revert");
        } else {
            // console.log(
            //     "Boost: " +
            //         $("#ABSvolBoost").val() +
            //         " Flaw: " +
            //         $("#ABSvolFlaw1").val() +
            //         " Flaw: " +
            //         $("#ABSvolFlaw2").val()
            // );
            $("#ABSvolBoost").val("").change();
            $("#ABSvolFlaw1").val("").change();
            $("#ABSvolFlaw2").val("").change();
            $(".ABSvol").hide();
        }
    });

    $("#ABSapply").on("click", () => {
        SelectedActor.update({
            "data.abilities.str.value": parseInt($("#ABStstr").html()),
            "data.abilities.dex.value": parseInt($("#ABStdex").html()),
            "data.abilities.con.value": parseInt($("#ABStcon").html()),
            "data.abilities.int.value": parseInt($("#ABStint").html()),
            "data.abilities.wis.value": parseInt($("#ABStwis").html()),
            "data.abilities.cha.value": parseInt($("#ABStcha").html()),
        });

        saveData = {};
        for (let i of stats) {
            saveData[i] = [];
            for (let j of ["a", "b", "c", "d", "1", "2", "3", "4"]) {
                saveData[i].push($("#ABS" + j + i).is(":checked"));
            }
        }
        saveData.volFlaw = $("#ABSvoluntaryFlaw").is(":checked");
        for (let i of ["Boost", "Flaw1", "Flaw2"]) {
            saveData[i] = $("#ABSvol" + i).val();
        }
        SelectedActor.setFlag("pf2e-abs-manager", "abs", saveData);
        ui.notifications.info("PF2E Ability Score Manager | Ability Scores Applied");
    });
</script>
